{% extends "posts/base.html" %}
{% load crispy_forms_tags %}

{% block title %}

Contato
{% endblock %}


{% block content %}
<section class="container ">
    <h2 class="my-4 title text-center"> Diga um Oi </h2>
    <hr>
    <div class="row justify-content-center text-center">
        <div class="col-6">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
                    {{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-lg-6 col-md-6">
            <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <div class="row">
                <div class="col flutuar">
                    <input type="submit" value="Enviar" class="btn btnroxo w-100">
                </div>
            </div>
           
        </form>
        </div>
    </div>

</section>
   



{% endblock %}

